.audio__challenge__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/png/1.png');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    padding: 60px 20px 50px;
}

.audio__challenge__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin-top: 20%;
}

.audio__challenge__main {
    background: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}


.audio__challenge__name {
    font-size: 4rem;
}

.audio__challenge__groups__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.audio__challenge__groups {
    display: flex;
    gap: 10px;
}

.audio__challenge__svg__container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid var(--color2);
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.audio__challenge__svg {
    width: 40px;
    height: 40px;
}

.audio__challenge__svg__text {
    font-size: 30px;
    font-weight: bold;
    color: var(--color2);
    margin: 0 auto;
}

.audio__challenge__svg__container:hover {
    background-color: #ffffff;
}

.audio__challenge__answers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
}

.audio__challenge__answer,
.audio__challenge__group {
    width: 19%;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
    border: 2px solid var(--color2);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color2);
    text-align: center;
}

.audio__challenge__group {
    font-size: 1.5rem;
    border-radius: 20%;
}

.audio__challenge__group:hover {
    background-color: #0000ff;
    color: #ffffff;
}

.audio__challenge__answer:hover {
    background-color: #ffffff;
}

.audio__challenge__button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #288c9b;
    border: 2px solid var(--color2);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.audio__challenge__button:hover {
    background-color: #568cdc;
}

.audio__challenge__answer.correct {
    background-color: #00ff00;
}

.audio__challenge__answer.incorrect {
    background-color: #ff0000;
    color: #ffffff;
}