.circles {
  height: 15px;
  width: 15px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.active {
  background-color: #cd7f32;
}

.active-button {
  background-color: aquamarine;
}